{% extends 'gen.html' %}
{% block content %}
<body>
    <h1>Welcome to The Sweet Crave Spot</h1>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
                <input type="text" id="username" name="uusername" placeholder="username" required>
                <input type="password" id="password" name="upassword" placeholder="password" required>

            <button type="submit" class="login-btn">Login</button>
            <div class="signup">Don't have an account? <a href="/signup">Sign Up</a></div>
        </form>
    </div>
</body>
{% endblock %}
